
@{
    ViewBag.Title = "WrkOrdDetail";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<input type="hidden" id="DetailPlanId" />
<input type="hidden" id="WorkOrderId" />
<div class="card">
    <div class="card-body">
        <div class="media flex-column flex-md-row mb-4">
            <a href="#" class="align-self-md-center mr-md-3 mb-2 mb-md-0">
                <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded" width="44" height="44" alt="">
            </a>

            <div class="media-body">
                <h5 class="media-title font-weight-semibold" id="SemiProductName">Interaction UX/UI Industrial Designer</h5>
                <ul class="list-inline list-inline-dotted text-muted mb-0">
                    <li class="list-inline-item" id="SemiProductDetailInfo">Utrecht, Netherlands</li>
                </ul>
            </div>
        </div>
        <div class="mb-4">
            <h6 class="font-weight-semibold" id="workOrderDetail">İş Emri Detayı</h6>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Operatör:</label>
                        <div class="col-lg-9">
                            <label type="text" class="col-form-label" id="OperatorInfo" name="OperatorInfo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Üretilecek Tarih:</label>
                        <div class="col-lg-9">
                            <label type="text" class="col-form-label text-danger" id="ProduceDate" name="ProduceDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Üretilecek Miktar:</label>
                        <div class="col-lg-9">
                            <label type="text" class="col-form-label text-danger" id="planedAmount" name="planedAmount" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Makine Press Kodu:</label>
                        <div class="col-lg-9">
                            <label type="text" class="col-form-label" id="MachineCode" name="MachineCode"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Vardiya:</label>
                        <div class="col-lg-9">
                            <label type="text" class="col-form-label" id="ShiftCode" name="ShiftCode" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-sm-flex">
           
            <div class="ml-sm-auto mt-2 mt-sm-0">
                <a href="#" onclick="Print()" class="btn btn-success">
                    <i class="icon-printer mr-2"></i>
                    Yazdır
                </a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="table-responsive">
        <table class="table text-nowrap" id="Detail">
            <thead>
                <tr>
                    <th>Malzeme Kodu</th>
                    <th>Malzeme Adı</th>
                    <th>Oran</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@section PageScripts{
    <script>

        function Print() {
            var id = $('#WorkOrderId').val();
            var url='@Url.Action("Print", "WorkOrder")?id=' + id;
            window.open(url, '_blank');
        }
        window.addEventListener('DOMContentLoaded', (event) => {

            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                    .exec(window.location.search);

                return (results !== null) ? results[1] || 0 : false;
            }

            var wrkOrdId=($.urlParam('wrkOrdId'));
            
            $('#WorkOrderId').val(wrkOrdId);

            $.ajax({
                type: "GET",
                url: "/WorkOrder/GetWrkOrdDtl",
                contentType: "application/json; charset=utf-8",
                data: { wrkOrdId: wrkOrdId },
                async: false,
                success: function (data, status) {
                    console.log(data);
                    $('#DetailPlanId').val(data.PlanDetailDto.DpId);
                    $('#SemiProductName').text(data.PlanDetailDto.SemiProductName);
                    $('#SemiProductDetailInfo').text(data.PlanDetailDto.SemiProductCode + " " + data.PlanDetailDto.SemiProductDescription);
                    //$('#workOrderDetail').after("<p>" + data.PlanDetailDto.MGPAmount + " Adet Üretilmesi Planlanmıştır</p>");
                    $('#planedAmount').text(data.PlanDetailDto.MGPAmount);
                    $('#MachineCode').text(data.PlanDetailDto.MachineCode + " " + data.PlanDetailDto.MachineName);
                    $('#ShiftCode').text(data.PlanDetailDto.ShiftName);
                    $('#OperatorInfo').text(data.PlanDetailDto.EmployeeName + " " + data.PlanDetailDto.EmployeeSurName)
                    var MyDate_String_Value = data.PlanDetailDto.DpDate
                    var wrkDate = new Date(parseInt(MyDate_String_Value.replace(/(^.*\()|([+-].*$)/g, '')));
                   
                    console.log(moment(wrkDate).valueOf())
                    $('#ProduceDate').text(moment(wrkDate).format('DD/MM/YYYY')); 
                    
                    for (var i = 0; i < data.mixBySemiProductDto.length; i++) {

                        $('#Detail > tbody').append('<tr class="table-active table-border-double">' +
                            '<td colspan="6">' + data.mixBySemiProductDto[i].MixtureCode + ' ' + data.mixBySemiProductDto[i].MixtureName + '</td> </tr>');

                        $.ajax({
                            type: "GET",
                            url: "/WorkOrder/GetComponentForMix",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            async: false,
                            data: {
                                mixId: data.mixBySemiProductDto[i].MixtureId
                            },
                            success: function (data, status) {
                                for (var j = 0; j < data.length; j++) {
                                    debugger;
                                    $('#Detail > tbody').append('<tr>' +
                                        '<td><span class="text-muted">' + data[j].ComponentCode + '</span></td>' +
                                        '<td><span class="text-success-600">' + data[j].ComponentName + '</span></td>' +
                                        '<td><h6 class="font-weight-semibold mb-0">' + data[j].ComponentRate + '</h6></td></tr >');
                                }

                            },
                            error: function (xhr, status, err) {
                                alert('error')

                            }
                        })

                    }

                },
                error: function (xhr, status, err) {
                    alert('error')

                }
            });


        })

    </script>

    }
