
@{
    ViewBag.Title = "DetailPlanByMachine";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h5 class="card-title"><strong>Makineye Göre Detay Plan</strong></h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("DetailPlanByMachine", "Plan", FormMethod.Post, new { @id = "DetailPlanByMachineForm", @class = "DataForm" }))
        {
        }
    </div>
</div>