
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h5 class="card-title"><strong>Yeni Ürün</strong></h5>
    </div>
    <div class="card-body">

    </div>
</div>

